/* Content Types and Layouts */

/* Shield Title - Wesleyan Shield with Title Text and Rich Text */

.shieldTitle { background-image: url('http://txwes.edu/media/twu/style-assets/images/logoTitle.png'); background-repeat: no-repeat; background-position: left center; font-size: 1.8em; font-weight: bold; color: #666; padding-left: 39px; }

/* Featured Content with Image */

.featuredContent { overflow: auto; padding-bottom: 20px; border-bottom: 1px solid #002460; margin-bottom: 20px; }
.featuredContent .title { background-image: url('http://txwes.edu/media/twu/style-assets/images/featureSelectTitle.png'); background-repeat: no-repeat; font-size: 1.2em; font-weight: bold; color: #666; padding: 2px 0px 2px 10px; margin-bottom: 20px; }
.featuredContent .image { float: left; border-top: 2px solid #fed000; width: 200px; height: 139px; margin-right: 20px; }
.featuredContent .image img { width: 200px; height: 139px; }
.featuredContent .content { overflow: auto; }
.featuredContent .viewMore { float: right; width: 85px; height: 15px; background-image: url('http://txwes.edu/media/twu/style-assets/images/viewMore.png'); }
.featuredContent .content *:first-child { margin-top: 0px; }

/* Featured Content with Image - variant 1 (No Yellow Gradient for Title) */

.featuredContent.varOne .title { background-image: none; font-size: 1.2em; font-weight: bold; color: #666; padding: 2px 0px 2px 10px; margin-bottom: 20px; }

/* Contact Info */

#contactInfoCT { width: 224px; margin-top: 100px; }
#contactInfoCT .header { background-color: #004b8d; background-image: url('http://txwes.edu/media/twu/style-assets/images/contact-icon.png'); background-repeat: no-repeat; background-position: 10px 5px; color: #ffffff; padding: 5px 35px; }
#contactInfoCT .content { padding: 5px 15px; font-size: 0.8em; }
#contactInfoCT .title { border-bottom: 1px dashed #ccc; padding: 0px 0px 5px; font-size: 1.2em; }
#contactInfoCT .spacer { border-top: 1px solid #ccc; background-color: #ffffff; height: 1px; width: 100%; margin-top: 10px; margin-bottom: 10px; }
#contactInfoCT h5 { margin: 0; padding: 0; font-size: 1.2em; font-weight: normal; color: #002460; }

/* Action Box - Grey box in Right Column, has header and text, used for calls to actions */

.actionBox { position: relative; top: 0px; left: 0px; margin-bottom: 20px; }
.actionBox .header { background-image: url('http://txwes.edu/media/twu/style-assets/images/infoBoxHeader.png'); background-repeat: no-repeat; font-size: 1.3em; font-weight: bold; color: #666; padding: 9px 15px 4px; }
.actionBox .content { background-image: url('http://txwes.edu/media/twu/style-assets/images/infoBoxText.png'); background-repeat: no-repeat; background-position: center bottom; border: 1px solid #ccc; border-top: none; padding: 20px 15px 25px; color: #666; font-size: 0.9em; }
.actionBox .arrow { background-image: url('http://txwes.edu/media/twu/style-assets/images/infoBoxGreyArrow.png'); width: 11px; height: 15px; position: absolute; right: 10px; bottom: 10px; }
.actionBox:hover .arrow { background-image: url('http://txwes.edu/media/twu/style-assets/images/infoBoxBlueArrow.png'); }