@media screen and (min-width:0px) and (max-width:599px) {
	
	body { border-top: 4px solid #fed000; }
	
	#outerCT { width: 100%; min-width: 320px; position: relative; top: 0px; left: 0px; }
	
	#headerTop { border: none; width: 100%; }
	#headerTop #logo { width: 224px; height: 51px; margin-top: -25px; left: 10px; }
	#headerTop #pathways { display: none; }
	#headerTop #directoryButton { right: 0px; margin-top: -19px; height: 38px; width: 90px; display: none; }
	
	#headerBottom { width: 100%; overflow: visible; margin-bottom: 10px; height: 0px; }
	#headerBottom #searchCT { top: -65px; right: 108px; display: none; }
	#headerBottom #searchCT .searchBar { width: 160px; }
	#headerBottom #searchCT .searchBar input { width: 150px; }
	#headerBottom #globalNav { top: 0px; left: 0px; margin: 0px; display: none; }
	#headerBottom #globalNav li { padding: 10px 40px 10px 20px; width: 140px; }
	#headerBottom #globalNav li:nth-child(1) { border-bottom: 1px solid #ccc; }
	#headerBottom #globalNav li:nth-child(2) { border-bottom: 1px solid #ccc; }
	#headerBottom #globalNav li:nth-child(3) { border-bottom: 1px solid #ccc; }
	
	#contentCT { width: 100%; background-image: none; background-color: #f3f3f3; margin-bottom: 0px; position: relative; top: 0px; left: 0px; overflow:visible; }
	
	#footerCT { width: 100%; margin-bottom: 0px; }

	#footerCT #logoCT { float: initial; width: 240px; margin-left: auto; margin-right: auto; overflow: auto; }
	#footerCT #logoCT #footerLogo { float: initial; margin-top: 10px; }
	#footerCT #logoCT #footerSmarter { float: inital; margin-top: 20px; }
	#footerCT #footerContactInfo { float: initial; width: 240px; margin-left: auto; margin-right: auto; }
	#footerCT #footerContactInfo .contactMap { float: initial; width: 240px; margin-right: 0px; margin-bottom: 10px; }
	#footerCT #footerSocial { float: initial; width: 240px; margin-left: auto; margin-right: auto; }
	#footerCT #footerSocial .socialButton.facebook { background-image: url('http://txwes.edu/media/twu/style-assets/images/homepage/facebook_hover.png'); }
	#footerCT #footerSocial .socialButton.twitter { background-image: url('http://txwes.edu/media/twu/style-assets/images/homepage/twitter_hover.png'); }
	#footerCT #footerSocial .socialButton.youtube { background-image: url('http://txwes.edu/media/twu/style-assets/images/homepage/youtube_hover.png'); }
	
	#footerCT #copyright { width: calc(100% - 40px); }
	
	#goToCT { width: auto; height: auto; position: relative; bottom: 0px; left: 0px; margin-left: 0px; background-color: #004b8d; margin-top: 0px; margin-bottom: 0px; }
	#goToCT .goToTitle { height: auto; background-color: #f3f3f3; position: relative; width: auto; }
	#goToCT #goToNav { color: #ffffff; margin: 0px; padding-top: 17px; }
	#goToCT #goToNav li { margin-bottom: 20px; border: none; width: calc(33% - 40px); }
	
	#breadcrumb { display: none; }
	
	/* Homepage Elements */
	
	.kfc #headerBottom { margin-bottom: 0px; }
	.kfc #homepageTop { width: 100%; margin-bottom: 0px; position: absolute; top: 0px; left: 0px; z-index: -1; }
	.kfc #homepageTop #contentColumn { width: 100%; }
	.kfc #homepageTop #contentColumn #homepageRotator { width: 100%; }
	.kfc #homepageBottom { margin-bottom: 0px; background: none; margin-top: 284px; }
	.kfc #homepageBottom #homepageNavigation { width: 100%; }
	.kfc #homepageBottom #homepageNavigation ul { margin: 0px; width: 100%; }
	.kfc #homepageBottom #homepageNavigation ul li { left: 0px; text-align: left; padding: 10px 10px 10px 75px; background-image: none; cursor: pointer; background-color: #004b8d; margin-bottom: 0px; color: #fed000; border-bottom: 2px solid #002460; }
	.kfc #homepageBottom #homepageNavigation ul li:last-child { border-bottom: none; }
	.kfc #homepageBottom #homepageNavigation ul li:hover { background-image: none; background-color: #ffffff; color: #004b8d; }
	.kfc #homepageBottom #homepageNavigation ul li.active { background-image: none; background-color: #004b8d; color: #fed000; }
	.kfc #homepageBottom #homepageNavigation ul li .title { color: #ffffff; }
	.kfc #homepageBottom #homepageNavigation ul li:hover .title { color: #000000; }
	.kfc #homepageBottom #homepageNavigation ul li.active .title { color: #ffffff; }
	.kfc #homepageBottom #homepageContent { display: none; }
	
	/* Navigation Elements */

	#parentNav { position: relative; top: 0px; left: 0px; width: auto; background-image: none; background-color: #004b8d; }
	#parentNav #openNav { display: block; }
	#sectionNav { width: 100%; display: none; background-color: #191919; color: #ffffff; }
	#sectionNav li.sectionLink { border-bottom: 1px solid #f3f3f3; }
	#sectionNav li.sectionLink:last-child { border-bottom: none; }
	#sectionNav li.sectionLink.current { background: none; }
	#sectionNav li.sectionLink.current.sub { padding-right: 0px; }
	#sectionNav #subNav { width: auto; color: #000000; background-color: #f3f3f3; }
	#sectionNav #subNav li.subLink.current { background-color: #f3f3f3; }
	
	/* Page Layouts */
	
	/* Column Layout Elements */

	h1.pageTitle { width: auto; padding: 5px 0px 5px 25px; font-size: 1em; font-weight: bold; background-image: none; background-color: #fed000; color: #000000; margin-top: 0px; float: none; }
	#contentCT #leftCol { width: auto; margin-right: 0px; float: none; padding-top: 0px; position: initial; }
	#contentCT #centerCol { width: auto; background-color: #f3f3f3; padding: 0px 25px; float: none; overflow: auto; }
	
	/* 3 Column */
	
	#contentCT.threeCol #centerCol { width: auto; border: none; padding: 0px 25px; margin-bottom: 300px; }
	#contentCT.threeCol #rightCol { display: none; }
	
	/* 1 Column */
	
	#contentCT.oneCol #breadcrumb { width: auto; left: 0px; }
	#contentCT.oneCol #contentCT { background-image: none; }
	#contentCT.oneCol h1.pageTitle { width: auto; }
	#contentCT.oneCol #centerCol { width: auto; padding: 0px 25px; }
	
	/* No Nav */
	
	#contentCT.noNav { position: relative; top: 0px; left: 0px; }
	#contentCT.noNav #breadcrumb { display: none; }
	#contentCT.noNav #centerCol { width: auto; border-right: none; }
	#contentCT.noNav h1.pageTitle { width: auto; margin-top: 0px; color: #ffffff; background-color: #004b8d; font-size: 1.3em; padding-top: 10px; padding-bottom: 10px; }
	#contentCT.noNav #rightCol { width: auto; background-color: #f3f3f3; position: initial; float: initial; }
	
	/* Content Elements & Layouts */
	
	#contactInfoCT { width: 100%; margin-top: 0px; height: 300px; position: absolute; bottom: -300px; left: 0px; z-index: 10; background-color: #f3f3f3; }
	
}