@media screen and (min-width:800px) and (max-width:1019px) {
	
	body {  }
	
	#outerCT { width: calc(100% - 20px); margin-left: auto; margin-right: auto; position: relative; top: 0px; left: 0px; }
	
	#headerTop { border: none; width: 100%; margin-top: 50px; overflow: visible; }
	#headerTop #logo { width: 224px; height: 51px; margin-top: -25px; left: 10px; }
	#headerTop #pathways { left: 0px; margin-top: 0px; top: -40px; }
	#headerTop #directoryButton { right: 0px; margin-top: 0px; height: 38px; width: 90px; top: -38px; }
	
	#headerBottom { width: 100%; overflow: visible; margin-bottom: 10px; height: 77px; border-top: 4px solid #fed000; }
	.homepage #headerBottom { margin-bottom: 0px; }
	#headerBottom #searchCT { top: -65px; right: 0px; }
	#headerBottom #searchCT .searchBar { width: 300px; }
	#headerBottom #searchCT .searchBar input { width: 290px; }
	#headerBottom #globalNav { top: 0px; left: 0px; margin: 0px; position: relative; }
	#headerBottom #globalNav li { width: calc(33.33% - 60px); padding: 10px 40px 10px 20px; text-align: center; }
	#headerBottom #globalNav li:nth-child(1) { border-bottom: 1px solid #ccc; }
	#headerBottom #globalNav li:nth-child(2) { border-bottom: 1px solid #ccc; }
	#headerBottom #globalNav li:nth-child(3) { border-bottom: 1px solid #ccc; }
	
	#contentCT { width: 100%; background-color: initial; background-position: -4px 0px; width: auto; margin-bottom: 10px; }
	
	#footerCT { width: 100%; margin-bottom: 0px; }

	#footerCT #logoCT { float: initial; width: calc(100% - 160px); margin-left: auto; margin-right: auto; overflow: auto; }
	#footerCT #logoCT #footerLogo { float: left; margin-top: 20px; }
	#footerCT #logoCT #footerSmarter { float: left; margin-top: 40px; margin-left: calc(50% - 130px); }
	#footerCT #footerContactInfo { float: left; width: calc(50% - 80px); margin-left: 40px; }
	#footerCT #footerSocial { float: left; width: width: calc(50% - 80px); }
	
	#footerCT #copyright { width: calc(100% - 40px); }
	
	#goToCT { width: auto; height: auto; position: relative; bottom: 0px; left: 0px; margin-left: 0px; background-color: #004b8d; margin-top: 10px; margin-bottom: 10px; }
	#goToCT .goToTitle { height: auto; background-color: #f3f3f3; position: relative; width: auto; }
	#goToCT #goToNav { color: #ffffff; margin: 0px; padding-top: 17px; }
	#goToCT #goToNav li { margin-bottom: 20px; border: none; width: calc(25% - 40px); }
	
	#breadcrumb { background-color: #ffffff; float: right; width: calc(100% - 280px); padding: 10px 25px; position: relative; top: 0px; right: 0px; }
	
	/* Homepage Elements */
	
	#homepageTop { background-color: #ffffff; }
	#homepageTop #applyColumn { float: initial; width: auto; position: relative; top: 0px; left: 0px; }
	#homepageTop #applyColumn #applyContent { width: calc(100% - 249px); font-size: 1.1em; }
	#homepageTop #applyColumn #applyButton { float: right; position: absolute; top: 20px; right: 20px;  }
	#homepageTop #applyColumn #classTitle { border-top: 1px dashed #ccc; padding-top: 20px; }
	#homepageTop #applyColumn #classContent { width: calc(100% - 249px); overflow: auto; }
	#homepageTop #applyColumn #classContent ul { list-style-type: none; list-style-image: none; }
	#homepageTop #applyColumn #classContent ul li { float: left; font-size: 1.1em; width: 50%; padding: 0px; margin-bottom: 20px; }
	#homepageTop #applyColumn #sendInfoButton { left: initial; right: 20px; bottom: 50px; }
	#homepageTop #applyColumn br:first-child { display: none; }
	#homepageTop #homepageRotator { float: initial; width: auto; } /* set height using jQuery */
	#homepageTop #actionBar { float: initial; width: auto; }
	#homepageTop #actionBar .actionItem { float: initial; width: auto; border: none; border-top: 1px solid #ccc; height: auto; }
	#homepageTop #actionBar .actionItem .actionTitle { border-bottom: none; }
	#homepageTop #actionBar .actionItem .actionContent { width: calc(100% - 249px); font-size: 1.1em; }
	#homepageTop #actionBar .actionItem .actionButton { margin-left: 0px; left: initial; right: 20px; top: 50%; margin-top: -18px; }
	#homepageBottom { margin-bottom: 10px; }
	#homepageBottom #homepageNews { border-right: none; width: auto; float: initial; }
	#homepageBottom #homepageEvents { width: auto; float: initial; }
	
	.kfc #headerBottom { margin-bottom: 0px; }
	.kfc #homepageTop { width: 100%; margin-bottom: 10px; }
	.kfc #homepageTop #contentColumn { width: 100%; }
	.kfc #homepageTop #contentColumn #homepageRotator { width: 100%; }
	.kfc #homepageBottom { margin-bottom: 10px; background: none; }
	.kfc #homepageBottom #homepageNavigation { width: 380px; }
	.kfc #homepageBottom #homepageNavigation ul { margin: 0px; width: 380px; }
	.kfc #homepageBottom #homepageNavigation ul li { left: 0px; text-align: left; padding: 10px 10px 10px 100px; background-image: none; cursor: pointer; background-color: #004b8d; margin-bottom: 10px; color: #fed000; }
	.kfc #homepageBottom #homepageNavigation ul li:last-child { margin-bottom: 0px; }
	.kfc #homepageBottom #homepageNavigation ul li:hover { background-image: none; background-color: #ffffff; color: #004b8d; }
	.kfc #homepageBottom #homepageNavigation ul li.active { background-image: none; background-color: #ffffff; color: #004b8d; }
	.kfc #homepageBottom #homepageNavigation ul li .title { color: #ffffff; }
	.kfc #homepageBottom #homepageNavigation ul li:hover .title { color: #000000; }
	.kfc #homepageBottom #homepageNavigation ul li.active .title { color: #000000; }
	.kfc #homepageBottom #homepageContent { width: calc(100% - 410px); padding: 10px; min-height: 330px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT { width: auto; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.horizontal .imgSelectItem { width: 100%; overflow: auto; margin-bottom: 10px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.horizontal .imgSelectItem:last-child { margin-bottom: 0px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.horizontal .imgSelectItem img { border-top: none; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.horizontal .imgSelectItem .learnMore { display: none; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.horizontal .imgSelectItem .content { overflow: auto; padding-right: 0px; font-size: 0.9em; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.horizontal .imgSelectItem .content .title { background-color: #fed000; padding: 3px 10px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.vertical .imgSelectItem { width: 100%; overflow: auto; margin-bottom: 10px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.vertical .imgSelectItem:last-child { margin-bottom: 0px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.vertical .imgSelectItem img { width: 150px; float: left; border-top: none; margin: 0px 10px 0px 0px; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.vertical .imgSelectItem .learnMore { display: none; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.vertical .imgSelectItem .content { width: auto; overflow: auto; padding-right: 0px; font-size: 0.9em; }
	.kfc #homepageBottom #homepageContent .imgSelectCT .imgSelect.vertical .imgSelectItem .content .title { background-color: #fed000; padding: 3px 10px; }
	
	/* Navigation Elements */

	#parentNav { top: 0px; left: 0px; width: 196px; background-image: none; background-color: #004b8d; }
	#sectionNav { width: 220px; }
	#sectionNav #subNav { width: 185px; }
	
	/* Page Layouts */
	
	/* Column Layout Elements */

	h1.pageTitle { width: calc(100% - 255px); padding: 5px 0px 5px 25px; font-size: 1em; font-weight: bold; background-image: none; background-color: #fed000; color: #000000; float: right; }
	#contentCT #leftCol { width: 220px; margin-right: 10px; }
	#contentCT #centerCol { width: calc(100% - 280px); background-color: #ffffff; padding: 0px 25px; float: right; }
	
	/* 3 Column */
	
	#contentCT.threeCol #centerCol { width: calc(100% - 280px); border: none; padding: 0px 25px; }
	#contentCT.threeCol #rightCol { display: none; }
	
	/* 1 Column */
	
	#contentCT.oneCol #breadcrumb { width: calc(100% - 50px); right: 0px; float: initial; }
	#contentCT.oneCol { background-image: none; }
	#contentCT.oneCol h1.pageTitle { width: calc(100% - 25px); float: initial; }
	#contentCT.oneCol #centerCol { width: calc(100% - 50px); float: initial; padding: 0px 25px; overflow: auto; }
	
	/* No Nav */
	
	#contentCT.noNav { position: relative; top: 0px; left: 0px; }
	#contentCT.noNav #breadcrumb { float: left; width: calc(100% - 285px); }
	#contentCT.noNav #centerCol { width: calc(100% - 285px); border-right: none; float: left; }
	#contentCT.noNav h1.pageTitle { width: calc(100% - 260px); margin-top: 0px; color: #ffffff; background-color: #004b8d; font-size: 1.3em; padding-top: 10px; padding-bottom: 10px; float: left; }
	#contentCT.noNav #rightCol { width: 224px; background-color: #f3f3f3; padding: 0px; position: absolute; top: 0px; right: 0px; left: initial; }
	
	/* Content Elements & Layouts */
	
	#contactInfoCT { width: 221px; }
	#contentCT.noNav #contactInfoCT { float: right; margin-right: 0px; background-color: #f3f3f3; }
	
}