@media screen and (min-width:0px) and (max-width:479px) {
	
	#headerTop #logo { width: 224px; height: 51px; margin-top: -25px; left: 10px; background-image: url('http://cms.txwes.edu/media/twu/style-assets/images/university-logo-320.png'); }
	
	#goToCT #goToNav li { margin-bottom: 20px; border: none; width: calc(50% - 40px); }
	
}